    <div class="page content">
        <div class="row">
        <!--<div class="col-md-2"></div>-->
        <div class="panel-heading col-md-12" ><h2 class="heading">What is BuckleDown?</h2></div>
        
        <img class="banner" src="http://www.tremblant.ca/~/media/40bd8d0922454c0ab15b4ee2d5f3b313.jpg" alt="">
        <p class="about-body panel-body"> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus purus eu nisi efficitur rutrum. Ut aliquet rutrum metus, 
        nec vestibulum justo. Nunc ut lectus vehicula, imperdiet neque eu, aliquam urna. Proin maximus, nunc sit amet rhoncus porta, 
        dui purus hendrerit est, in malesuada ligula nulla ut risus. 
        </br>
        </br>
        Morbi quis mi magna. Vivamus blandit dui quis velit suscipit luctus. 
        Nam ut felis ante. Aliquam venenatis malesuada felis, in tempor augue mollis eu. Vestibulum aliquam ac enim vitae eleifend. 
        Integer augue odio, pharetra ac dui in, tristique ultricies augue. Proin elementum luctus malesuada. Cras sagittis faucibus 
        scelerisque. Sed laoreet lorem velit, quis congue lorem vehicula id.
        </p>
        <div class="row about-body" align="center">
            <img class="about-img" src="http://placehold.it/300x150" alt="">
            <img class="about-img" src="http://placehold.it/300x150" alt="">
        </div>
        <div class="about-body"><br></div>
        <div class="panel-footer"><div class="col-md-8"></div><p class="fade-text">Have more questions? Check our <a>FAQ</a></p></div>
        </div>
    </div>

 