<section class="content page" ng-init='pCtrl.displayUsers()'>
    <form class="find">
        <input type="text" placeholder="Filter Mentors" ng-model="pCtrl.user">
        <button class="find-btn" type="submit" ng-click="pCtrl.searchMentors()">Submit</button>
    </form>
    <div ng-repeat="user in pCtrl.users | filter:true:user.role" class="profile-info">
        <div class="info">
            <h3> {{ user.name }} </h3>
            <h5>Profession</h5>
            <p> {{ user.area }} </p>
            <h5>Email</h5>
            <a href=""> {{ user.email }} </a>
        </div>
    </div>
</section>