<!--<section>
    <div>
        <!--This div is for user background images-->
    <!--</div>
    <div class="content user-page">
        <div>
            <h1 class="heading">Hello!</h1>
            <p>Ipsum fuck</p>
        </div>
        <div class="row">
            <div class="col-sm-6">.col-sm-6</div>
            <div class="col-sm-6">.col-sm-6</div>
        </div>
    </div>
</section>-->

<section class="container content user-page" ng-init='pCtrl.getProfile()' ng-model="pCtrl.user">
    <div class="row card">
        <!-- serve info from user database -->
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-hide="pCtrl.myVar == true"> <!--user name here--> {{ pCtrl.user.name }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            <!--<input class="file-upload" type="file" accept="image/*"> -->
                            <img alt="" src="https://case.edu/medicine/admissions/media/school-of-medicine/admissions/classprofile.png" class="img-circle img-responsive"> 
                        </div>
                        <!--<div class="upload-button">Upload Image</div>-->
                        <div class="col-md-3 col-lg-3 " align="center"></div>
                        <div class=" col-md-9 col-lg-9 "> 
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Role:</td>
                                <td><!-- I need 0 to show as 'Mentee' and 1 to show as 'Mentor' --> {{ pCtrl.user.role }} </td>
                            </tr>
                            <tr>
                                <td>Career Field:</td>
                                <td> {{ pCtrl.user.area }} </td>
                            </tr>
                            <tr>
                                <td>Years of Experience</td>
                                <td> {{ pCtrl.user.exp }} </td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><a href=""> {{ pCtrl.user.email }} </a></td>
                            </tr>                    
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
                <div class="panel-footer">
                    <a type="button" class="btn btn-sm btn-primary">
                        <i class="glyphicon glyphicon-envelope"></i> <!-- messenging -->
                        </a> 
                    <span class="pull-right edit-remove">
                        <a href="" type="button" class="btn btn-sm btn-warning" ng-click="pCtrl.updateProfile()"><i class="glyphicon glyphicon-edit"></i></a>
                        <!--<button ng-submit="auth.logout.submit()" class="logout" type="submit" class="btn">Logout</button>-->
                        <!--<a ng-init='auth.logout.submit()' ng-submit="auth.logout.submit()" type="submit" class="btn btn-sm btn-danger" ng-click="auth.logout.submit()">Logout</a>-->
                        <a type="button" class="btn btn-sm btn-danger" href="#/signup">Logout</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--Edit form-->
    <div>
        <form class="form" ng-show="pCtrl.myVar == true">
            <input type="text" placeholder="name" ng-model="pCtrl.user.name">
            <input type="text" placeholder="role" ng-model="pCtrl.user.role">
            <input type="text" placeholder="Career Field" ng-model="pCtrl.user.area">
            <input type="text" placeholder="Years Exp" ng-model="pCtrl.user.exp">
            <input type="text" placeholder="update email" ng-model="pCtrl.user.email">
            <button type="submit" class="form-button" ng-click="pCtrl.updateProfile()">Save</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"> News Feed </h3> <!-- or assignments -->
                </div>
                <div class="panel-body">
                        <!--News Feed data--> 
                </div>
                <div class="panel-body">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-infor">
                <div class="panel-heading">
                    <h3 class="panel-title"> Local Meetups </h3> <!-- meetup api -->
                </div>
                <div class="panel-body">
                        <!--Meetup Data-->
                </div>
                <div class="panel-body">
                    
                </div>
            </div>
        </div>
    </div>
    
</section>

